<html>
<head>
    <link href="{{ asset('/bundles/appshedextensionsspreadsheetmaps/css/bootstrap.min.css') }}" rel="stylesheet"/>
    <link href="{{ asset('/bundles/appshedextensionsspreadsheetmaps/css/maps.css') }}" rel="stylesheet"/>
    <script src="{{ asset('/bundles/appshedextensionsspreadsheetmaps/js/mootools.core.more.js') }}" type="text/javascript"></script>
    <script>
        document.addEvent("domready", function () {
            var docTitles = {{doc.titles|json_encode|raw}};
            var docFilters = {{doc.filters|json_encode|raw}};
            var filterTypes = ['<',
                '>',
                '=',
                '!=',
                '<=',
                '>=',
                'aroundme'];
            var filters = document.id("filters");
            var addFilter = function (filterRule) {
                var index = Math.floor(Math.random() * 10000000);
                var filterline = new Element('div');
                var title = new Element('select', {'name': 'filters[' + index + '][name]'});
                docTitles.each(function (t) {
                    var option = new Element('option', {
                        'value': t,
                        'text': t
                    }).inject(title);
                    if (filterRule.name === t) {
                        option.set('selected', 'selected');
                    }
                });
                title.inject(filterline);
                function checkTitle(state) {
                    if (state) {
                        title.setStyle('display', 'none');
                    } else {
                        title.setStyle('display', 'inline-block');
                    }
                }

                var filter = new Element('select', {
                    'class': 'filter',
                    'name': 'filters[' + index + '][filter]',
                    'events': {
                        'change': function () {
                            checkTitle(this.value == 'aroundme');
                        }
                    }
                });
                filterTypes.each(function (t) {
                    var option = new Element('option', {
                        'value': t,
                        'text': (t == 'aroundme' ? 'Around me' : t)
                    }).inject(filter);

                    if (filterRule.filter === t) {
                        checkTitle(filterRule.filter == 'aroundme');
                        option.set('selected', 'selected');
                    }
                });
                filter.inject(filterline);
                filterline.inject(filters);

                new Element('input', {
                    'type': 'text',
                    'value': filterRule.value,
                    'name': 'filters[' + index + '][value]'
                }).inject(filterline);

                new Element('button', {
                    'html': 'Delete',
                    'class': "btn btn-danger",
                    'events': {
                        'click': function () {
                            filterline.destroy();
                        }
                    }
                }).inject(filterline);
            };

            var init = function () {
                docFilters.each(function (f) {
                    addFilter(f);
                });
            };

            if (document.id('addfilter')) {
                document.id('addfilter').addEvent('click', function (e) {
                    e.stop();
                    if (docTitles[0]) {
                        addFilter({"name": docTitles[0], "filter": filterTypes[0], 'value': ''});
                    }
                });
            }


            if (document.id('reset')) {
                document.id('reset').addEvent('click', function (e) {
                    e.stop();
                    filters.set('html', '');
                    init();
                });
            }
            init();
        });
    </script>
</head>
<body>
<div class="content">
    {% if action=="save" and error=='' %}
        <div class="message">Your extension has been saved</div>
    {% else %}
        <form method="post">
            <div class="errors">{{ error }}</div>
            <div>
                <label  for="url-textarea"  >Spreadsheet URL</label>
                <textarea id="url-textarea" name="url" class="gradient onepx-border">{{ doc.url }}</textarea>

                <div>You must set the settings to 'Anyone who has the link can view' on Google Drive</div>

                <br/>

                <div>Your Google Sheet should have a column with the title "Address" that contains the address used for the map pins. If the address is written in a
                    different column, please enter the respective column title here:
                </div>
                <input name="address" type="text" placeholder="Address" value="{{ doc.address }}"/>

            </div>
            <div class="buttons">
                {% if doc.titles|length>0 %}
                    <button type="submit" name="action" value="save" class="btn btn-success">Save</button>
                {% else %}
                    <button type="submit" name="action" value="apply" class="btn btn-success">Apply</button>
                {% endif %}
            </div>
            <div>
                <div id="filters"></div>
                {% if doc.titles|length>0 %}
                    <div class="filterbuttons">
                        <button class="btn" id="addfilter">Add filter</button>
                        <button class="btn" id="reset">Reset</button>
                    </div>
                {% endif %}

            </div>
        </form>
    {% endif %}
</div>
</body>
</html>
